@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.section {
    &__header {
        display: flex;
        flex-direction: row;
        gap: 40px;

        @media (max-width: 1100px) {
            gap: 20px
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 30px;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }

    &__title {
        @include fluid(height, 46px, 51px);
        background-color: $green;
        border-radius: 7px;
        padding: 3px 7px;
    }

    &__description {
        width: 100%;
        margin-bottom: 2px;
        line-height: 130%;
    }
}